* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display';
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 1.62rem;
}

header {
    background-color: #050041;
    color: white;
    padding: 1.5rem 2rem;
}

nav {
    font-weight: 400;
}

#nav-div {
    display: flex;
    justify-content: space-between;
}

#logo-div img {
    width: 11rem;
}

#nav-links-div {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color:  inherit;
}

button {
    color: white;
    border: none;
    background-color: #E55934;
    padding: 0.9rem 1.2rem;
    cursor: pointer;
}


button:hover {
    background-color: #CC4F2E;
}

.container {
    /* width: 80%; */
    max-width: 75rem;
    /* width: calc(80vh); */
    margin-left: auto;
    margin-right: auto;
}

#hero-section {
    background-color: #050041;
    color: white;
    text-align: center;
    padding: 5rem 0 3rem;
}

#hero-section p {
    font-size: 1.3rem;
}

#image-section {
    width: 100%;
    background-image: linear-gradient(to bottom, #050041 35%, white 0%);
}

#absolute {
    position: relative;
}

.hero-image {
    position: absolute;
}

#image1 {
    position: relative;
    width: 32rem;
    left: 50%;
    transform: translate(-50%);
}

#image2 {
    width: 18rem;
    left: 13.5rem;
    top: 5.5rem;
}

#image3 {
    width: 18rem;
    bottom: 9rem;
    right: 10rem;
}

#image4 {
    width: 22rem;
    left: 39.5rem;
    top: 16rem;
}

.tiny-headers {
    font-size: 1.3rem;
    font-weight: 500;
}

.p {
    font-size: 1.15rem;
}

#process-section, #services-section{
    color: #050041;
}

#process-section {
    display: flex;
    gap: 4rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

#process-image {
    width: 28rem;
}

#process-section p, #process-section h2, #process-section button {
    margin-top: 2rem;
}

#process-section h2 {
    margin-top: 1rem;
}

.learn-more {
    padding: 0.9rem 2rem;
}

#services-section {
    padding-bottom: 5rem;
}

#services-text-section {
    max-width: 45rem;
}

#services-card-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 1rem; */
    gap: 0.5rem;
}

.transition {
    transition: all ease-in-out 0.25s;
}

.cards {
    background-color: #f2ede7;
    flex-basis: 26%;
    padding: 2.5rem 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.cards img {
    margin-bottom: 1.5rem;
}

.cards:hover {
    transform: scale(1.05);
}

#founder-section {
    background-color: #050041;
    color: white;
    text-align: right;
    padding: 5rem 0;
}

#founder-flex {
    display: flex;
    justify-content: center;
    gap: 4rem;

}

#founder-image {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
}

#founder-section h2 {
    margin-top: 1rem;
}

#founder-section p:nth-child(3), #founder-section p:nth-child(4), #founder-section button {
    margin-top: 2rem;
}

#testimonials-section {
    color: #050041;
    text-align: center;
    background-color: #f2ede7;
    padding: 5rem;
}

#testimonials-section h2 {
    margin-top: 1rem;
}

#no-pun {
    font-size: 1.5rem;
    font-style: italic;
    max-width: 41rem;
    margin: auto;
    margin-top: 2rem;
}

#comment {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.flickity-button-icon {
    cursor: pointer;
    width: 1rem;
    fill: #E55934;
    border: 1px solid #E55934;
    border-radius: 100%;
    padding: 0.9rem;
    margin: 2rem 0.25rem;
}

.flickity-button-icon:hover {
    background-color: #E55934;
    fill: white;
}

.white-button {
    background-color: white;
    color: #E55934;
    padding: 0.9rem 2rem;
}

.white-button:hover {
    background-color: #CC4F2E;
    color: white;
}

#almost-wrap {
    background-color: #E55934;
}

#get-to-work-section {
    color: white;
    background-color: #E55934;
    display: flex;
    justify-content: start;
    max-width: 2000px;
    gap: 4rem;
    margin: auto;
}

#get-to-work-image-section {
    height: 29rem;
    width: 50%;
}

#get-to-work-image-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 20rem;
}

#get-to-work-text-section h2, #get-to-work-text-section p {
    margin-bottom: 2rem;
}


#get-to-work-text-section h2 {
    margin-top: 7.5rem;
}

#get-to-work-text-section p {
    margin-bottom: 1.5rem;
    max-width: 30rem;
}

footer {
    background-color: #050041;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

#footer-image-div img{
    width: 15rem;
}

#footer-links-div, #footer-socials-div, #copyright-div {
    margin-top: 1.3rem;
}

footer a{
    color: #bac5fe;
    margin: 0 1rem;
}

#footer-socials-div {
    margin-top: 1.4rem;
}

#footer-socials-div img{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 1.25rem;
}

#copyright-div {
    margin-top: 3rem;
}

footer p {
    color: #bac5fe;
    font-size: 0.8rem;
}